.logo {
    width: auto;
    height: 100%;
    overflow: hidden;
}

header.masthead .intro-text .intro-heading {
    margin-bottom: 25px;
}

/*#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {*/
    /*opacity: 0;*/
/*}*/

/*#portfolio .portfolio-item .portfolio-link .portfolio-hover {*/
    /*display: none;*/
/*}*/