.logo {
    width: auto;
    height: 100%;
    overflow: hidden;
}

header.masthead .intro-text .intro-heading {
    margin-bottom: 25px;
}

#services span {
    width: 70%;
    height: 100%;
}

#portfolio a {
    color: blue;
}